"*":
  "atom-beautify":
    general:
      _analyticsUserId: "e99cccfb-dc12-40b9-abf0-77ac4d763b9e"
  "autocomplete-plus":
    enableAutoActivation: false
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    disabledPackages: [
      "language-gfm"
      "script"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "f94e2b3d-92a0-faae-66cf-a3544b7eba48"
  linter: {}
  "markdown-preview": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
